# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
auto-save/
tramp
backups/
cache
bookmarks
org-html-themes/
.persistent-scratch
.\#*

# This showed up after installing... lots of things
# Magit, Projectile, Which-key, Ivy...
transient/

# Ignore history and state for eshell
# keeping aliases woudl be nice...
eshell/

# do I really want to ignore these things?
projectile-bookmarks.eld

# config.el is generated
config.el

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

